.intro {
  margin-top: 15vh;
  background-image: url('../../icons/canopy3.svg');
  background-size: min(45vw, 200px);
  background-repeat: no-repeat;
  background-position: top right;
}

.intro h1 {
  color: #ddffff;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.essentials {
  margin-top: 1rem;
  margin-left: 0.2rem;
}

.essentials a {
  width: fit-content;
  display: flex;
  align-items: center;
  color: #ddffff;
  border-radius: 10px;
  padding: 5px 10px;
  background: #7cccf544;
  margin-bottom: 1.5rem;
}

.essentials span {
  color: #ddffff;
  font-size: 1.15rem;
  padding-left: 10px;
  white-space: nowrap;
}

a:hover {
  background-color: #7cccf566;
}

.essentials a:last-child {
  margin-bottom: 0;
}

@media (min-width: 740px) {
  .intro {
    background-size: min(45vw, 300px);
    /* background-position: center top; */

    height: 50vh;
    color: red;
  }
}
