.intro {
  background-image: url('../../icons/canopy3.svg');
  background-size: 45vw;
  background-repeat: no-repeat;
  background-position: top right;
}

.paraBlock {
  width: 40%;
}

p {
  margin: 0;
  padding-top: 0.75rem;
}
