.topSection {
  height: 50vh;
  background-image: url('../../icons/trunk_line_branch.svg');
  background-size: 50vh;
  background-repeat: no-repeat;
  background-position: top right;
}

.topSection h2 {
  padding-top: 1.5rem;
}
