.topSection {
  background-image: url('../../icons/plaintrunk.svg');
  background-size: 45vw;
  background-repeat: repeat-y;
  background-position: top right;
}

.topSection h2 {
  padding-top: 1.5rem;
}
