.nav {
  height: 8vh;
  min-height: 75px;
  width: 100%;
  padding-right: 10px;
  margin-left: -10px;
  position: fixed;
  top: 0;
  color: #ddffff;
  display: grid;
  grid-template-areas: 'left center right';
  grid-template-columns: 5fr 3fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2f80ed, #56ccf2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 1000;
  border-bottom: 3px solid black;
}

.initialControls {
  width: 50vw;
  /* margin-left: auto; */
  grid-area: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.scrolledControls {
  animation: moveControls 1s forwards;
}

@keyframes moveControls {
  0% {
    opacity: 0;
    grid-area: left;
    justify-self: start;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(10px);
    transform: scale(0.8);
  }
}

.hiddenTitle {
  display: none;
  opacity: 0;
  grid-area: left;
}

.notHiddenTitle {
  animation: revealTitle 1.25s forwards;
}

@keyframes revealTitle {
  0% {
    display: default;
    opacity: 0;
    grid-area: center;
    width: 50vw;
    font-size: 1.7rem;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    grid-area: center;
    width: 50vw;
    font-size: 1.6rem;
    transform: translate(15px, 3px);
  }
}

.nav span {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.75rem;
  color: #ddffff;
}

.title {
  color: #ddffff;
  font-size: 2rem;
  margin-bottom: 2vh;
}

.lang {
  margin-right: 2vw;
}

.toggle {
  margin-bottom: -8px;
}

.burger {
  grid-area: right;
  justify-self: end;
}
